nav button {
  background-color: #2e7d32; /* hijau */
  color: white;
  border: none;
  padding: 8px 15px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

nav button:hover {
  background-color: #1b5e20; /* hijau lebih gelap saat hover */
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
}

/* Header */
header {
    background-color: #1b5e20; /* hijau lebih gelap saat hover */
  padding: 1rem;
  text-align: center;
  color: white;
}

header nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

header nav a:hover {
  text-decoration: underline;
}

/* Produk */
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 15px;
  text-align: center;
}

.product-card img {
  width: 100%;
  border-radius: 10px;
}

.buy-btn {
  background-color:  #1b5e20;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.buy-btn:hover {
  background-color:  #1b5e20;
}

/* Footer */
footer {
  background-color: #1b5e20;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 20px;
}
  